local.properties

#IntelliJ IDEA folders
.idea
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml

#IntelliJ IDEA files
*.iml

#Build dir
/build
.gradle
gradlew
gradlew.bat
*/gradle/wrapper


.DS_Store
/captures
.externalNativeBuild
